---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Civil Chaos</title>
	</head>
	<body>
		<h1>Civil Chaos</h1>
		<h2>About</h2>
		<p>Construction time again &hellip;</p>
	</body>
</html>
